<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->

	<display-name>Spring MVC Application</display-name>

	<!-- <welcome-file-list> <welcome-file>index.jsp</welcome-file> </welcome-file-list> -->

	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>


	<!-- Creates the Spring Container shared by all Servlets and Filters -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>

	<!-- Servlets -->

	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/main-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main/*</url-pattern>
	</servlet-mapping>

 	<servlet>
		<servlet-name>Graphs</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/graphs-context.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Graphs</servlet-name>
		<url-pattern>/graphs/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Maps</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/maps-context.xml</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Maps</servlet-name>
		<url-pattern>/maps/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NE</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/namedentities-context.xml</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>NE</servlet-name>
		<url-pattern>/named_entities/*</url-pattern>
	</servlet-mapping>

  
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/search-context.xml</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Counter</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/counter-context.xml</param-value>
		</init-param>
		<load-on-startup>6</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Counter</servlet-name>
		<url-pattern>/counter/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Tweets</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/tweets-context.xml</param-value>
		</init-param>
		<load-on-startup>7</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Tweets</servlet-name>
		<url-pattern>/tweets/*</url-pattern>
	</servlet-mapping>

</web-app>
