@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);

/*-- Chart --*/

.c3 svg {
  font: 10px sans-serif !important;
}
.c3 path, .c3 line {
  fill: none !important;
  stroke: #000 !important;
}
.c3 text {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges !important;
}

.c3-chart-arc path {
  stroke: #fff !important;

}
.c3-chart-arc text {
  fill: #fff !important;
  font-size: 13px !important;
}

/*-- Axis --*/

.c3-axis-x .tick {
}
.c3-axis-x-label {
}

.c3-axis-y .tick {
}
.c3-axis-y-label {
}

.c3-axis-y2 .tick {
}
.c3-axis-y2-label {
}

/*-- Grid --*/

.c3-grid line {
  stroke: #aaa !important;
}
.c3-grid text {
  fill: #aaa !important;
}
.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3 !important;
}
.c3-xgrid-focus {
}

/*-- Text on Chart --*/

.c3-text {
}

.c3-text.c3-empty {
  fill: #808080 !important;
  font-size: 2em !important;
}

/*-- Line --*/

.c3-line {
  stroke-width: 1px !important;
}
/*-- Point --*/

.c3-circle._expanded_ {
  stroke-width: 1px !important;
  stroke: white !important;
}
.c3-selected-circle {
  fill: white !important;
  stroke-width: 2px !important;
}

/*-- Bar --*/

.c3-bar {
  stroke-width: 0 !important;
}
.c3-bar._expanded_ {
  fill-opacity: 0.75 !important;
}

/*-- Arc --*/

.c3-chart-arcs-title {
  dominant-baseline: middle !important;
  font-size: 1.3em !important;
}

/*-- Focus --*/

.c3-target.c3-focused {
  opacity: 1 !important;
}
.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px !important;
}
.c3-target.c3-defocused {
  opacity: 0.3 !important;
}


/*-- Region --*/

.c3-region {
  fill: steelblue !important;
  fill-opacity: .1 !important;
}

/*-- Brush --*/

.c3-brush .extent {
  fill-opacity: .1 !important;
}

/*-- Select - Drag --*/

.c3-dragarea {
}

/*-- Legend --*/

.c3-legend-item {
  font-size: 12px !important;
  fill: #FFFFFF !important;
}
.c3-legend-item-hidden {
  opacity: 0.15 !important;
}

.c3-legend-background {
  opacity: 0.75 !important;
  fill: white !important;
  stroke: lightgray !important;
  stroke-width: 1 !important;
}

/*-- Tooltip --*/

.c3-tooltip-container {
  z-index: 10 !important;
}
.c3-tooltip {
  border-collapse:collapse !important;
  border-spacing:0 !important;
  background-color:#fff !important;
  empty-cells:show !important;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119) !important;
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119) !important;
          box-shadow: 7px 7px 12px -9px rgb(119,119,119) !important;
  opacity: 0.9 !important;
}
.c3-tooltip tr {
  border:1px solid #CCC !important;
}
.c3-tooltip th {
  background-color: #aaa !important;
  font-size:14px !important;
  padding:2px 5px !important;
  text-align:left !important;
  color:#FFF !important;
}
.c3-tooltip td {
  font-size:13px !important;
  font-family: "Exo 2" !important;
  padding: 3px 6px !important;
  background-color:#fff !important;
  border-left:1px dotted #999 !important;
}
.c3-tooltip td > span {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin-right: 6px !important;
}
.c3-tooltip td.value{
  text-align: right !important;
}

.c3-area {
  stroke-width: 0 !important;
  opacity: 0.2 !important;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0 !important;
  stroke: none !important;
}
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000 !important;
  font-size: 16px !important;
}
.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777 !important;
}
.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777 !important;
}

.c3-chart-arc .c3-gauge-value {
  fill: #000 !important;
/*  font-size: 28px !important;*/
}
