@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);
@import url(http://fonts.googleapis.com/css?family=Lobster);


.dimple-title { /*labels*/
	font-family: 'Exo 2' !important;
	font-size: 16px !important;
}

.tick { /*Dates*/
    fill: rgba(0, 0, 0, 1) !important;
}

.dimple-axis { /*labels*/
	fill: rgba(178, 178, 178, 1) !important;
}

.dimple-legend-text{
	fill: rgba(250, 250, 255, 1) !important;
}