@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);
@import url(http://fonts.googleapis.com/css?family=Lobster);


.dimple-title { /*labels*/
	font-family: 'Exo 2' !important;
	font-size: 16px !important;
}

.tick { /*Dates*/
    fill: rgba(0, 0, 0, 1) !important;
}

.dimple-axis { /*labels*/
	fill: rgba(178, 178, 178, 1) !important;
}

.dimple-legend-text{
	fill: rgba(0, 0, 0, 1) !important;
	font-size: 12px !important;
}

.chart-container {
	padding-top: 10px;
	
	border-style: solid;
    border-width: 5px;
	border-color: #656565;
	
	/* gradient from top to bottom */
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(#ffffff, #E8E8E8);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(#ffffff, #E8E8E8);
	/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(#ffffff, #E8E8E8);
	/* Standard syntax */
	background: linear-gradient(#ffffff, #E8E8E8);
}
