div.map-container {
	padding: 6px;
	border-color: #ccc #ccc #999 #ccc;
	-webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	-moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
	box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

div.map {
	width: 100%;
	height: 400px;
}

.gm-style, .gm-style>div {
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


.gmnoprint {
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.gm-style-cc {
	margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


#actions {
	list-style: none;
	padding: 0;
}

#inline-actions {
	padding-top: 10px;
}

.item {
	margin-left: 20px;
}

.map-container {
	padding-top: 10px;
	
	border-style: solid;
    border-width: 5px;
	border-color: #656565;
	
	/* gradient from top to bottom */
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(#ffffff, #E8E8E8);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(#ffffff, #E8E8E8);
	/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(#ffffff, #E8E8E8);
	/* Standard syntax */
	background: linear-gradient(#ffffff, #E8E8E8);
}