.TweetWallheader {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
.TweetAvatar {
  float: left;
  margin: 0 15px 0 0;
}

.icon_img {
	width: 32px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
 
#avatar {
	width: 100px;
	float: left;
	margin: 0 15px 0 0;
}
 
.username {
	font-size: 1.5em;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
	
}
 
.tweet {
  width: 95%;
  overflow: auto;
  border: dashed 1px blue;
  margin-left: 5px;
  margin-bottom: 15px;
  
}

.tweet:hover {
	background: #282828;
	cursor: pointer;
}

.tweetText {
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #000000;
}

#easyPaginate img {display:block;}
.easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}



a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:-30px; margin-left:28px; width:240px; line-height:16px; }
a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
/*CSS3 extras*/
a.tooltip span { border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 5px 5px 8px #CCC; -webkit-box-shadow: 5px 5px 8px #CCC; box-shadow: 5px 5px 8px #CCC; }


.input-group {
	width: 30%;
}


.bootstrap-touchspin .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 10px;
  margin-left: -1px;
  position: relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
  border-radius: 0;
  border-top-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
  margin-top: -2px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  position: absolute;
  top: 3px;
  left: 5px;
  font-size: 9px;
  font-weight: normal;
}